@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro&display=swap');
@keyframes rotateEnlarge{
    0%{
        transform: scale(1) rotateY(0deg);
    }

    100%{
        transform: scale(1.3) rotateY(180deg);
    }
}

@keyframes tiltReadMore{
    0%{
        transform: rotateX(0deg);
    }

    100%{
        transform: rotate(10deg);
    }
}

@keyframes animatePlay{
    0%{
        transform: scale(1);
        color: rgba(255, 255, 255, 1);
        background-color: rgba(57, 194, 215, 1);
    }

    50%{
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 1);
        color:rgba(57, 194, 215, 1);
    }

    100%{
        transform: scale(1);
        color: rgba(255, 255, 255, 1);
        background-color: rgba(57, 194, 215, 1);
    }
}

@keyframes bigDotsAnimation
{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes bigDotsAnimation
{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes smallDotsAnimation
{
    0%{
        transform: translate(0px,0px)/*, translateY(0%)*/;
    }

    40%{
        transform: translate(-5%,-5%)/*, translateY(10px)*/;
    }

    80%{
        transform: translate(0px,0px)/*, translateY(0%)*/;
    }
}

*{
    margin:0px;
    padding:0px;
}

h1,h2 {
    font-family: "Oswald",  sans-serif;
}

span, p, h3, li,a{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, a, h2, h3{
    color:#FFFFFF;
}

.bigDotsBack{
    position: absolute;
    top:33px;
    left:62.5%;
    width: 515px;
    height: 755px;
    z-index: 0;
    animation: bigDotsAnimation 5s 1s ease-in-out infinite both;
}

.smallDotsBack{
    position: absolute; 
    left: 36.7%;
    top:-17px;
    height: 713px;
    width: 815px;
    z-index: 0;
    animation: smallDotsAnimation 5s 1s linear infinite both;
}

#mainPage {
    height: 822px; 
    width: 100%;
    background-image: url("/assets/bckg1.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}

header{
    position: absolute;
    width: 100%;
    left:0px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.header__logoNav {
    font-weight: 600;
    font-size: 20px;
    flex:1 0 auto;
    padding-right: 164px;
    margin-top: 45px;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: right;
}


.uppercase{
    text-transform: uppercase;
}

.header__hamburger{
    position: fixed;
    top:65px;
    right: 35px;
    width:30px;
    height: 4px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    cursor: pointer;
    z-index:2;
    transition: 0.3s;
}

.header__hamburger::before, .header__hamburger::after{
    content:"";
    position:absolute;
    height: 4px;
    width:30px;
    border-radius: 10px;
    right: 0;
    background: rgba(255, 255, 255, 1);
    transition: 0.3s;
}

.header__hamburger::before{
    top:-10px;

}

.header__hamburger::after{
    top:10px;
    
}

.header__toggleMenu{
    position: fixed;
    top:65px;
    right: 35px;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hedaer__hamburger,.header__toggleMenu{
    display: none;
}

nav input:checked ~ .header__hamburger{
    background: transparent;
}

nav input:checked ~ .header__hamburger::before{
    top:0;
    transform: rotate(-45deg);
    width: 30px;
}

nav input:checked ~ .header__hamburger::after{
    top:0;
    transform: rotate(45deg);
    width: 30px;
}

nav input:checked ~ .header__navMenu{
    right:0;
}

nav ul{
    flex:2 0 auto;
    margin-top: 49px;
    margin-left: 110px;
}


nav ul li{
    display: inline-block;
}

nav ul li a {
    font-weight: 400px;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    margin-right: 30px;
}

nav ul li a:hover{
    border-bottom: 2px solid white;
}

.mainPage__logoAndHeadline{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    top: 274px;
}

.bigLogo{
    position: relative;
    margin-bottom: 30px;
}

.bigLogo:hover{
    animation: rotateEnlarge 1s linear both;
}

.mainPage__logoAndHeadline h1{
    font-weight: 700;
    font-size: 48px;
    position: absolute;
}

.mainPage__subHeadline {
    position: relative;
    top: 305px;
}
.mainPage__subHeadline /*h3*/{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

#sectionPage {
    height: 700px; 
    width: 100%;
    background-color: rgba(238, 238, 238, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    position: relative;
}

.sectionPage__Title {
    color:rgba(70, 69, 71, 1);
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    top: 88px;
}

.sectionPage__Subtitle {
    color:rgba(102, 102, 102, 1);
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 246px;
}

.sectionPage__Text {
    color:rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    display: flex;
    position: absolute;
    top: 348px;
}

.sectionPage__Text--LColumn{
    flex:1 0 1fr;
    max-width: 408px;
    padding-right: 41.5px;
}

.sectionPage__Text--RColumn{
    flex:1 0 1fr; 
    max-width: 416px;
    padding-left: 41.5px
}

.sectionPage__Button{
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(85, 194, 216, 1);
    border-radius: 18px;
    padding: 11px 8px;
    width:115px;
    font-family: "Oswald";
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    position: absolute;
    top: 571px;
}

.sectionPage__Button:hover{
    animation: tiltReadMore 1s linear both;
    transform-origin: 0 5%;
}

#learnMorePage{
    height: 100vh; 
    width: 100%;
    background-image: url("/assets/bckg2.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.learnMorePage__Title{
    color:rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.learnMorePage__Subtitle{
    color:rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    width: 351px;
    margin-bottom: 20px;
    text-align: center;
}
 
.playButton{
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(57, 194, 215, 1);
    border: none;
    height:150px;
    width:150px;
    font-size: 70px;
    font-weight: bold;
    padding-left:15px;
    padding-top:7px;
    text-align: center;
}

.playButton:hover{
    animation: animatePlay 1s linear both;
}

footer{
    background-color: rgba(70, 69, 71, 1); 
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0;
}

footer span, 
footer li {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
}

.footer__image{
    margin-right: 5px;
}

.footer__ColOne{
    flex: 1 1 100%;
    order: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right:120px;
}

.footer__ColOne span{
    font-size: 18px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
}

.footerColTwo{
    flex: 1 1 100%;
    order: 2;
}

footer ul{
    list-style-type: none;
} 

.footerColThree{
    order: 3;
    flex: 1 1 100%;
    display: flex;
    align-items: flex-end;
}



@media (max-width: 768px){

    body{
        width: 100%;
    }

    .smallDotsBack{
        top: 8px;
        left:11%;
    }

    .bigDotsBack{
        left:75%;
    }

    .header__logoNav{
        position:absolute;
        top: 60px;
        left: 60px;
        padding:0;
        margin:0;
    }

    .header__hamburger, .header__toggleMenu{
        display: block;
    }

    .header__navMenu{
        display: flex;
        justify-content: start;
        flex-direction: column;
        position: fixed;
        top:20px;
        right: -300px;
        width:110px;
        margin-top:70px;
        padding:20px;
        z-index: 4;
        background-color: rgba(66, 59, 59, 0.4);
    }



    #sectionPage{
        height: 990px;
    }

    .sectionPage__Text, .sectionPage__Text--LColumn, .sectionPage__Text--RColumn, .sectionPage__Subtitle, .sectionPage__Title{
        margin:0px;
        padding:0px;
    }

    .sectionPage__Title{
        top: 65ps;
    }

    .sectionPage__Subtitle{
        top: 307px;
    }

    .sectionPage__Text{
        flex-direction: column;
        top: 460px;
    }
  
    .sectionPage__Text--LColumn{
        padding-bottom: 24px;
    }

    .sectionPage__Button{
        top: 820px;
    }

    .learnMorePage__Subtitle{
        width: 400px;
    }

    footer{
        display: flex;
        flex-flow: column nowrap;   
        justify-content: center;
        align-items: center;
    }

    .footer__ColOne{
        flex: 1 1 100%;
        padding: 0px;
        margin-bottom:30px;
        margin-top: 60px;
        
    }

    .footerCol__Two{
        flex: 1 1 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .footerCol__Three{
        flex: 1 1 100%;
        margin-bottom: 75px;
    }

}